<%- include('../partials/header') %>

<h1>New Todo</h1>
<form action="/skills" method="POST" autocomplete="off"></form>
    <input type="text" name="skills">
    <button type="submit">Save Skill</button>
</form>

<%- include('../partials/footer') %>